html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr,  address,  cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small,  strong, sub, sup,  var,
b, u, i, 
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header,  menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

body {
	font: 12px/18px Arial, sans-serif;
}
.header {
	height: 150px;
	background: 0000ff;
	overflow:auto,hidden;
	
}
#transform {
	max-width: 1000px; /*position: relative;*/ 
	margin: 20px auto; 
	/*display: flex;*/
/*	flex-direction: row;*/
	padding-bottom: 60px;
}
.card1,  .card2, .card3, .card4, .card5,  .card6, .card7, .card8, .card9,  .card10, .card11, .card12{
	width: 420px; height: 300px;
	border: 5px solid #c0c0c0;
	bottom:0px;
	left:0px;
	margin:0 auto;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	
}
.container {
	width: 420px; height: 300px; margin: 10px; margin-left: 30px;
	-webkit-perspective: 1400px;
	float: left;
	padding-bottom: 60px;
	}
.container:hover .card1 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card2 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card3 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card4 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card5 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card6 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card7 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card8 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card9 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card10 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card11 {
		-webkit-transform: rotateY(180deg);				
}
.container:hover .card12 {
		-webkit-transform: rotateY(180deg);				
}

.face {
	width:auto;
	height:300px;
	position: absolute;
	bottom:0px;
	left:0px;
	margin:0;
	color:	#0000ff; 
	-webkit-backface-visibility: hidden;
	
}

.trans .front {
		
	}
	.trans .back {
		width: auto; height: 300px; padding: 0px;
		-webkit-transform: rotateY(180deg);
		background: #a3a3a3 url(texture.png); 
	}
.trans .back h2 {
			/* width:110px; height:0px; */ margin: 5px auto 20px auto;
			/* background: url(megatron-title.png); */ color: black; font-size: 18px;
		}
		/* .megatron img {
			float: right;
		} */
		.trans p {
			float: left; /* width: 185px; */ margin: 5px 5px 20px 5px;
			font-size: 12px; line-height: 22px; color: black; 
		}

.content {
	overflow:auto;
}

.footer {
	height: 50px;
	/*background:#096e98;*/
  	position: fixed;
    left: 0; bottom: 0;
    width: 100%;
     background: repeating-linear-gradient(
		to right,
		#003366,
		#003366 10px,
		#0059b3 10px,
		#0059b3 20px
		);
     animation-name: fot;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


iframe.maps{
	text-align: center;
	padding: 10px;
	padding-bottom: 60px;
}

@-webkit-keyframes fot{

 	 	0%   {background: repeating-linear-gradient(
		to right,
		#003366,
		#003366 10px,
		#0059b3 10px,
		#0059b3 20px
		);}
    25%  {background: repeating-linear-gradient(
		to left,
		#003366,
		#003366 15px,
		#0059b3 15px,
		#0059b3 25px	);}
    50%  {background: repeating-linear-gradient(
		to right,
		#003366,
		#003366 30px,
		#0059b3 35px,
		#0059b3 35px
		);}
    75%  {background: repeating-linear-gradient(
		to left,
		#003366,
		#003366 15px,
		#0059b3 15px,
		#0059b3 25px
		);}
    100% {background: repeating-linear-gradient(
		to right,
		#003366,
		#003366 10px,
		#0059b3 10px,
		#0059b3 20px
		);}
}